<launch>
        <node pkg="control"
                type="a.sh" name="a_script"
                output="screen"
        />
        <node pkg="control"
                type="b.sh" name="b_script"
                output="screen"
        />
        <node pkg="control"
                type="c.sh" name="c_script"
                output="screen"
        />
        <node pkg="control"
                type="d.sh" name="d_script"
                output="screen"
        />
        
</launch>
