<?xml version="1.0"?>
<launch>
    <!--Input arguments-->
    <arg name="paused" default="False"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <!-- Robot related parameters -->
    <param name="base_length" type="str" value="0.64" />
    <param name="image_noise_level" type="int" value="10" /> <!-- percent level of noise -->
    <param name="grain_size" type="int" value="5" />
    <param name="goal_transparency" type="double" value="1.0" />
    <!-- Spawn worlds-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find simulation)/worlds/flat.world"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <!-- The ball mass is twice lower since the robot is twice lighter.-->
    <param name="ball_mass" type="double" value="2.0" />

    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1  /world /map 100" />
    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 1 /map /odom 100" />

    <node name="env_gen_services" pkg="simulation" type="env_gen_services.py" output="screen"/>
    <node name="robot_spawn_service" pkg="simulation" type="robot_spawn_service.py" output="screen"/>
    <!-- Heading angle and distance to the goal -->
    <node name="direction" pkg="simulation" type="direction_to_goal.py" output="screen"/>
</launch>
